* {
  margin: 0;
  padding: 0;
}
.content {
  border: orange solid 10px;
  text-align: center;
  margin: 2% 20%;
  padding: 1% 0;
  color: orange;
  background-color: rgb(0, 0, 0);
}
.titles {
  margin-bottom: 5%;
}
.giphy-embed {
  border: solid 5px orange;
  box-shadow: 1px 1px 10px 1px orange;
}
h3 {
  padding: 3% 0;
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: rgb(128, 32, 32);
}
a:active {
  color: rgba(224, 97, 12, 0.815);
}
