* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 500px;
}
img {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
}
