* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.navbar {
  padding: 1%;
  color: #f9faf8;
  background-color: #1f2937;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
a {
  text-decoration: none;
  color: #f9faf8;
  font-weight: bold;
}
.first-section,
.third-section {
  width: 100%;
  height: 100vh;
  background: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
}
.second-section {
  width: 100%;
  height: 100vh;
  background: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.button-second-section {
  margin: 2rem auto;

  margin-right: auto;
  max-width: 200px;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 1rem;
  border: solid #1f2937 1px;
  box-shadow: 1px 1px 1px black;
}
.third-section blockquote {
  font-style: italic;
  font-size: 2rem;
}
